.input {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 1)
    ),
    url('../../../images/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5vw;
}
